/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 66.2%;
}

.logo {
  width: 12%;
  padding: 1rem 0rem .6rem 1rem;
}
.topBar {
  display: flex;
  /* justify-content: space-evenly; */
}
.navBar {
  width: 30%;
  display:flex;
  justify-content: space-evenly;
  align-items: top;
  font-size: 1.6rem;
  margin-top: 4rem;
  font-family:"Seravek";
  letter-spacing: .15rem;
}
.credentials{
  width: 20%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 36%;
}

a {
  text-decoration: none;
  color: rgb(48, 46, 46);
}
.headerImg {
  width: 100%;
  /* height: 4rem; */
  /* border: 2px solid blue; */
}
.credentials a{
  border: 2px solid rgb(87, 86, 86);
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  border-radius: .6rem;
  font-family:"Seravek";
}
#signUp{
  border:1px solid #e98d69d2;
  background-color: #e98d69d2;
  color: white;
}
.headerImg img{
  width: 70%;
  height: 60vh;
  border-radius: 12px;
  padding-right: 0rem;
  align-self: flex-start;
}
.headerImg{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  /* justify-self: flex-end; */
  background-image: linear-gradient(rgba(223, 222, 222, 0), rgba(223, 222, 222, 0.615));
  /* border: 2px solid red; */
}
.headerText{
  display: flex;
  /* flex-direction: column; */
  width:100%;
  height: 40%;
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* border: 2px solid blue; */
}
.headerText h1{
  font-size: 4.4rem;
  /* margin-top: 26rem; */
  margin-left: .8rem;
  font-family:"Cambay Devanagari";
  /* align-self: center; */
  color: black;
  z-index: 3;
  /* border: 2px solid green; */
  width: 100%;
  /* font-variant: small-caps; */
}
.secondaryHeaderText{
  /* border: 2px solid red; */
  width: 69%;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  /* border: 2px solid red; */
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: rgb(66, 66, 66);
}
.firstLetter{
  font-size: 3rem;
}
.mainSection{
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}
.mainImg{
  width: 45%;
  /* border: 2px solid red; */
  margin: 4rem 0rem;

}
.mainText{
  width: 40%;
  margin-top: 1rem;
  font-size: 2.5rem;
  text-align: left;
  margin: 2rem 2rem 4rem 4rem;
  font-family:"Seravek";
  font-weight: lighter;
}
.breakBar{
  width: 95%;
  border: .5px solid rgb(172, 171, 171);
  margin-top: 2rem;
}
.howToSection{
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
}
.howToBannerImg{
  width: 60%;
  margin: 6rem 0rem 2rem 0rem;
}
.howToHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4.5rem 0rem;
  font-size: 3.5rem;
  letter-spacing: .2rem;
  font-weight: bold;
  font-family:"Seravek";
  color: rgb(66, 66, 66);
}
.howToBannerText{
  width: 50%;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: left;
  margin: 2rem 0rem 4rem 0rem;
  color: rgb(66, 66, 66);
  line-height: 2.5rem;
}
.howToBannerText p{
  margin: 1.5rem 0rem;
  font-family:"Seravek";
}
.everyOtherBullet{
  margin-left: 10rem;
}
.focusLink{
  width: 100%;
  display: flex;
  justify-content: center;
}
.focusLinkButton{
  padding: 1rem 2.7rem;
  background-color: #075fabd0;
  border-radius: 4px;
}
.focusLinkButton a{
  color: white;
  font-size: 1.8rem;
  font-family:"Cambay Devanagari";
}
#footerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.footerContainer{
  width: 35%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footerIcons{
  width:3.5%;
  height: 5%;
  margin-left: 1.5rem;
}
.aboutBanner {
  width: 100%;
  height: 80vh;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(245, 244, 244, 0), rgba(241, 241, 241, 0.774));
  margin-bottom: 14rem;
}
#about1{
  width: 45%;
  height: 70vh;
  margin-left: 1%;
  border-radius: 36px;
  align-self: flex-end;
  /* border: 2px solid blue; */
}
#meetOurTeamLogo{
  width:30%;
  height: 50vh;
  /* border: 2px solid blue; */
  margin-right: 8%;
  margin-top: 5%
}
.aboutTeam{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamMemberSubsection{
  display: flex;
  width: 80%;
}
#tiffanySection{
width: 70%;
/* border: 2px solid green; */
}
#micherreSection{
  width: 70%;
  /* border: 2px solid purple; */
  }
#micherreLogos{
  justify-content: space-evenly;
}
#shantelLogos{
  justify-content: space-evenly;
}
#shantelSection{
  width:70%;
}
#anatoliyLogos{
  justify-content: center;
}
#anatoliySection{
  width: 70%;
}
#emilySection{
  width: 70%;
  /* border: 2px solid red; */
}
#emilyLogos{
  justify-content: center;
}
#harrisonSection{
  width:70%;
  /* border: 2px solid red; */
}
#harrisonLogos{
  justify-content: space-evenly;
  height: 15%;
}
#karinaSection{
  width:70%;
  /* border: 2px solid red; */
  height: 42vh;
}
#karinaLogos{
  justify-content: center;
  height: 20%;
  /* border: 2px solid blue; */
}
#karinaPhoto{
  height: 84.7%;
}
#harrisonPhoto img{
  height: 256.72px;
}
.aboutDivisions{
  margin: 5rem 0rem;
  border: 0;
  width: 95%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}
.teamMemberSubsection h1{
  font-size: 5rem;
  font-family:"Cambay Devanagari";
}
.teamMemberSubsection h2{
  margin-top: .7rem;
  font-size: 2rem;
  font-family:"Cambay Devanagari";
  /* border: 2px solid pink; */
}
.aboutTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  width:40%;
}
#harrisonAbout{
  margin-right: 7rem;
}
#karinaAbout{
  margin-left: 4.3rem;
}
.teamMemberSubsection img{
  border-radius: 14px;
  position: relative;
  z-index: 3;
}

.personalLinkLogos{
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 18%;
  /* border: 2px solid red; */
}
.singularLogo{
  width: 28%;
  height: 100%;
  margin-top: .5rem;
  /* border: 2px solid blue; */
}
.singularLogo img{
  width: 100%;
  height: 100%;
}

.circles {
  position: relative;
  right: 6rem;
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  shape-outside: circle();
  clip-path: circle();
  background: rgba(173, 216, 230, 0.507);
  z-index: 2;
}
.circlesAlt {
  position: relative;
  right: 15rem;
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  shape-outside: circle();
  clip-path: circle();
  background: #e98d69a6;
  z-index: 2;
}
#anatoliyCircle{
  right: 36rem;
  bottom: 8rem;
}
#harrisonCircle{
  right: 27rem;
  width: 30rem;
  height:30rem;
}
#karinaCircle{
  bottom: 8rem;
  width:20rem;
  height:20rem;
}
#micherreCircle{
  top: 4rem;
  right: 12rem;
}
#shantelCircle{
  right: 35rem;
}
.circleMainOne {
  position: relative;
  right: 9rem;
  width: 15rem;
  height: 15rem;
  /* margin: 1rem; */
  bottom: 14rem;
  shape-outside: circle();
  clip-path: circle();
  background: #e98d69a6;
  z-index: 2;
}
.circleMainTwo {
  position: relative;
  left: 26rem;
  width: 19rem;
  height: 19rem;
  top: 1rem;
  /* margin: 1rem; */
  shape-outside: circle();
  clip-path: circle();
  background: #e98d69a6;
  z-index: 2;
}
.circleMainThree {
  position: relative;
  right: 9rem;
  width: 15rem;
  height: 15rem;
  /* margin: 1rem; */
  bottom: 14rem;
  shape-outside: circle();
  clip-path: circle();
  background: #e98d69a6;
  z-index: 2;
}
.teamFormatting{
  width: 25%;
  height: 100%;
  /* border: 2px solid green; */
}
.teamFormatting img{
  width: 100%;
  height: 100%;
}
@media (max-width: 500px){
  .logo{
    width: 20%;
    height: 20%;
    /* border: 2px solid red; */
  }
  .logo img{
    width: 100%;
    height: 100%;
  }
  .topBar{
    flex-wrap: wrap;
    /* border: 2px solid orange; */
    width: 100%;
    justify-content: flex-start;
  }
  .navBar{
    /* border: 2px solid blue; */
    width: 70%;
    margin-left: 2.95rem;
  }
  .credentials{
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid purple; */
    margin-right: 3rem;
  }
  #signUp{
    width: 100%;
    /* border: 2px solid green; */
    text-align: center;
  }
  #logIn{
    width: 100%;
    /* border: 2px solid green; */
    text-align: center;
  }
  .headerImg{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 80vh;
    /* border: 2px solid greenyellow; */
    width: 100%;
    align-self: center;
  }
  .justHeaderImg{
    height: 40vh;
    /* border: 2px solid red; */
    width:85%;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .justHeaderImg img{
    height:100%;
    width: 70%;
    align-self: center;
  }
  .headerText{
    margin-top: 0rem;
    height: 28vh;
    margin-left: .5rem;
    /* border: 2px solid blue; */
  }
  .headerText h1{
    margin-top: 0rem;
    height: 28vh;
    margin-left: 0rem;
    /* border: 2px solid orange; */
  }
  .secondaryHeaderText{
    display: inline;
  }
  .howToBannerImg{
    margin: 3rem 0rem 2rem 0rem;
    width: 80%;
  }
  .howToHeader{
    margin: 2.5rem 0rem 1rem 0rem;
  }
  .howToBannerText{
    width: 70%;
  }
  .mainSection{
    flex-direction: column;
  }
  .mainImg{
    width: 75%;
  }
  .mainText{
    width: 70%;
  }
  .footerContainer{
    width: 100%;
    /* border: 2px solid greenyellow; */
  }
  #footerNav{
    width: 80%;
    margin-left: 4.5rem;
  }
  .aboutBanner{
    height:50vh;
  }
  #about1{
    height: 40vh;
  }
  .aboutTitles h1{
    font-size: 2.8rem;
  }
  .aboutTitles{
    /* border: 2px solid green; */
    width:60%;
  }
  .teamFormatting{
    /* border: 2px solid blue; */
    width: 50%;
  }
  .teamMemberSubsection{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
  }
  .circlesAlt{
    display: none;
  }
  .circles{
  display: none;
  }
  #harrisonAbout{
    margin-right: 0rem;
  }
  #karinaAbout{
    margin-left: 0rem;
  }
  #harrisonSection{
    width:70%;
    /* border: 2px solid red; */
  }
  #harrisonLogos{
    height: 13%;
  }
  #karinaSection{
    width:70%;
    /* border: 2px solid red; */
    height: auto;
  }
  #karinaLogos{
    height: 13%;
    /* border: 2px solid blue; */
  }
  #karinaPhoto{
    height: 100%;
  }
  #harrisonPhoto img{
    height: 155px;
  }
}
/* fix logo cutoff
   add paralex and greensock to pages 
   comb through html to make it semantic and css to group and comment cleanly*/
