/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size: 66.2%;
}

.logo {
  width: 12%;
  padding: 1rem 0rem .6rem 1rem;
}
.topBar {
  display: flex;
  /* justify-content: space-evenly; */
}
.navBar {
  width: 30%;
  display:flex;
  justify-content: space-evenly;
  align-items: top;
  font-size: 1.6rem;
  margin-top: 4rem;
  font-family:"Seravek";
  letter-spacing: .15rem;
}
.credentials{
  width: 20%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 36%;
}

a {
  text-decoration: none;
  color: rgb(48, 46, 46);
}
.headerImg {
  width: 100%;
  height: 4rem;
  /* border: 2px solid blue; */
}
.credentials a{
  border: 2px solid rgb(87, 86, 86);
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  border-radius: .6rem;
  font-family:"Seravek";
}
#signUp{
  border:1px solid #e98d69d2;
  background-color: #e98d69d2;
  color: white;
}
.headerImg img{
  width: 40%;
  height: 60vh;
  border-radius: 12px;
  padding-right: 1rem;
  align-self: flex-end;
}
.headerImg{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row-reverse;
  justify-self: flex-end;
  background-image: linear-gradient(rgba(223, 222, 222, 0), rgba(223, 222, 222, 0.615));
  /* border: 2px solid red; */
}
.headerText{
  display: flex;
  flex-direction: column;
  width:59%;
  height: 90%;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.headerText h1{
  font-size: 3.8rem;
  margin-left: .8rem;
  font-family:"Cambay Devanagari";
  align-self: center;
  /* font-variant: small-caps; */
}
.headerText h2{
  font-size: 2.1rem;
  font-family:"Cambay Devanagari";
  text-align: center;
  border: 3px solid #075fab98;
  height: 10vh;
  border-radius: 18px;
  background-color: white;
  box-shadow: 1px 3px 5px #d0caca;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  /* add padding at bottom for smaller sizes*/
}
.secondaryHeaderText{
  /* border: 2px solid red; */
  width: 62%;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
}
.mainSection{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.mainImg{
  width: 60%;
  /* border: 2px solid red; */
  margin-top: 8rem;
}
.mainText{
  width: 60%;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0rem 3rem 0rem;
}
.breakBar{
  width: 95%;
  border: 1px solid black;
  margin-top: 2rem;
}
#footerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.footerContainer{
  width: 35%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footerIcons{
  width:3.5%;
  height: 5%;
  margin-left: 1.5rem;
}
.aboutBanner {
  width: 100%;
  height: 80vh;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(223, 222, 222, 0), rgba(223, 222, 222, 0.615));
}
#about1{
  width: 45%;
  height: 70vh;
  margin-left: 1%;
  border-radius: 36px;
  align-self: flex-end;
  /* border: 2px solid blue; */
}
#meetOurTeamLogo{
  width:30%;
  height: 50vh;
  /* border: 2px solid blue; */
  margin-right: 8%;
  margin-top: 5%
}
.nameNav{
  display: flex;
  flex-direction: column;
  border: 2px solid #075fab98;
  font-size: 3rem;
  line-height: 5rem;
  padding: 1.5rem 1rem;
  margin-left: 5%;
  font-family:"Cambay Devanagari";
  border-radius: 12px;
  box-shadow: 1px 3px 5px #d0caca;
  background-color: rgba(255, 255, 255, 0.651);
}
.aboutTeam{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamMemberSubsection{
  display: flex;
}
.aboutDivisions{
  margin: 5rem 0rem;
  border: 0;
  width: 95%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.teamMemberSubsection h1{
  font-size: 5rem;
}
.teamMemberSubsection h2{
  font-size: 3rem;
}
.aboutTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamMemberSubsection img{
  border-radius: 14px;
  position: relative;
  z-index: 3;
}

#aboutUpperBreak{
  margin-top: 3rem;
  margin-bottom: 10rem;
  /* border-color: darkgrey; */
}
.personalLinkLogos{
  display: flex;
}
.circles {
  position: relative;
  right: 6rem;
  width: 30rem;
  height: 30rem;
  margin: 1rem;
  shape-outside: circle();
  clip-path: circle();
  background: lightblue;
  z-index: 2;
}
.teamFormatting{
  width: 30%;
  height: 100%;
  border: 2px solid red;
}
.teamFormatting img{
  width: 100%;
  height: 100%;
}
/* .teamFormatting #emilySection{
  width: 20%;
  height: 5vh;
  border: 2px solid red;
} */